<%- include('partials/header') %>


<h1>GET READY TO BE SCARED!!</h1>
<h2>BUT FIRST SIGNUP!!</h2>

<form action="/signup" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>I'm ready to be scared!</button>

</form>

<%- include('partials/footer') %>
